name: ci

on: [push, pull_request]

jobs:
  build:
    name: media_types tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: download deno
        uses: denolib/setup-deno@v2
        with:
          deno-version: v1.7.0
      - name: check formatting
        run: deno fmt --check
      - name: check linting
        run: deno lint --unstable
      - name: run tests
        run: deno test
